.homeTitle{
    color: #3a3a3a;
    font-weight: 200%;
}

.azul{
    color: #00aeff;
    font-size: xx-large;
}

.azulRegistrate{
    background-color: #00aeff;
    color: #ffffff;
    border: none;
}

.azulSolicita{
    background-color: #00aeff;
    color: #ffffff;
    border: none;
}

.tituloHome{
    font-size: 50px;
    font-weight: bold;
}