<div class="page-header"  data-parallax="true" style="background-image: url('./assets/img/home_img_loc.png');">
    <div class="container">
        <br><br><br><br><br><br><br><br><br><br><br><br>
        <h1 class="tituloHome">El operador de logística <br> 
            que cubre todas las necesidades <br>
            de tu pyme o empresa</h1><br>
            <h3 class="homeTitle">Crea, gestiona, imprime y controla tus envios con nuestra aplicacion online.<br> Conecta tu sistema erp o tu tienda online con nuestros sistemas.<br> Ahorra tiempo en la gestion y preparacion de tus envios.</h3>
            <br><br><br><br><br><br><br>
            <button type="button" class="btn btn-lg btn-round" role="link" onclick="window.location='https://docs.google.com/forms/d/e/1FAIpQLSdH-9forRgayhvwy_aBsMvHGuzipJafYjGfrum4GiJzc6Syuw/viewform'">Regístrate gratis</button>
            <button type="button" class="btn btn-lg btn-round azulSolicita" role="link" onclick="window.location='https://forms.gle/MkeFJSNvN23ygx3J9'">Solicite una reunión online</button>
            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        </div>
</div>
<div class="main">
    <div class="section text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mr-auto ml-auto">
                <h2 class="title azul-titulo">Para ti, para empresas</h2>
                <h5 class="description">Logística integral 360º con todo tipo de soluciones de servicio.<br> Nuestras soluciones són flexibles y evolucionamos para adaptarnos a los cambios del mercado.<br> Un equipo honesto, sólido y rápido.  </h5>
                <br>
                <!--<a href="#paper-kit" class="btn btn-round">Más información</a>-->
            </div>
        </div>
        <br/><br/>
        <div class="row">
            <div class="col-md-3">
                <div class="info">
                    <div class="icon">
                        <i class="nc-icon nc-album-2"></i>
                    </div>
                    <div class="description">
                        <h4 class="info-title azul">Quality Service</h4>
                        <p class="description">Atención personalizada por teléfono y correo electrónico con una calidad de entrega superior al 95% de eficacia.</p>
                        <!--<a href="#pkp" class="btn btn-link">+ Info</a>-->
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="info">
                    <div class="icon">
                        <i class="nc-icon nc-chart-bar-32"></i>
                    </div>
                    <div class="description">
                        <h4 class="info-title azul">Ahorro</h4>
                        <p>Reduce la factura del transporte. Aumenta la rentabilidad.</p>
                        <!--<a href="#pkp" class="btn btn-link">+ Info</a>-->
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="info">
                    <div class="icon">
                        <i class="nc-icon nc-bulb-63"></i>
                    </div>
                    <div class="description">
                        <h4 class="info-title azul">Innovación</h4>
                        <p>Herramientas e integraciones informáticas para la gestión de envios.</p>
                        <!--<a href="#pkp" class="btn btn-link">+ Info</a>-->
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="info">
                    <div class="icon">
                        <i class="nc-icon nc-sun-fog-29"></i>
                    </div>
                    <div class="description">
                        <h4 class="info-title azul">Seguridad</h4>
                        <p>Más de 30 años de experiencia en el sector nos avalan. Empresa certificada como operador postal y transporte urgente.</p>
                        <!--<a href="#pkp" class="btn btn-link">+ Info</a>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section section-gray text-center">
    <div class="container">
        <h2 class="title">Intégrate con nosotros</h2>
        <div class="row">
            <div class="col-md-4">
                <div class="card card-profile card-plain">
                    <div class="card-avatar">
                        <a href="#avatar"><img src="./assets/img/shopify_icon.png" alt="..."></a>
                    </div>
                    <div class="card-block">
                        <a href="#paper-kit">
                            <div class="author">
                                <h4 class="card-title">Shopify</h4>
                            </div>
                        </a>
                        <p class="card-description text-center">
                            Conecta tu tienda con Shopify.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card card-profile card-plain">
                    <div class="card-avatar">
                        <a href="#avatar"><img src="./assets/img/prestashop_icon.png" alt="..."></a>
                    </div>
                    <div class="card-block">
                        <a href="#paper-kit">
                            <div class="author">
                                <h4 class="card-title">Prestashop</h4>
                            </div>
                        </a>
                        <p class="card-description text-center">
                            Conecta tu tienda con Prestashop.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-profile card-plain">
                    <div class="card-avatar">
                        <a href="#avatar"><img src="./assets/img/woo_icon.png" alt="..."></a>
                    </div>
                    <div class="card-block">
                        <a href="#paper-kit">
                            <div class="author">
                                <h4 class="card-title">Woocommerce</h4>
                            </div>
                        </a>
                        <p class="card-description text-center">
                            Conecta tu tienda con Woocommerce.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card card-profile card-plain">
                    <div class="card-avatar">
                        <a href="#avatar"><img src="./assets/img/amazon_icon.png" alt="..."></a>
                    </div>
                    <div class="card-block">
                        <a href="#paper-kit">
                            <div class="author">
                                <h4 class="card-title">Amazon</h4>
                            </div>
                        </a>
                        <p class="card-description text-center">
                            Conecta tu tienda con Amazon.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card card-profile card-plain">
                    <div class="card-avatar">
                        <a href="#avatar"><img src="./assets/img/web_service_icon.png" alt="..."></a>
                    </div>
                    <div class="card-block">
                        <a href="#paper-kit">
                            <div class="author">
                                <h4 class="card-title">WebService</h4>
                            </div>
                        </a>
                        <p class="card-description text-center">
                            Sea cual sea tu sistema ERP, SGA, CRM o si tienes una tienda de desarrollo propio, Gran Via Courier se adapta a ti con la API.                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card card-profile card-plain">
                    <div class="card-avatar">
                        <a href="#avatar"><img src="./assets/img/extranet_logo.png" alt="..."></a>
                    </div>
                    <div class="card-block">
                        <a href="#paper-kit">
                            <div class="author">
                                <h4 class="card-title">Extranet Online</h4>
                            </div>
                        </a>
                        <p class="card-description text-center">
                            Gestiona tus envios manualmente o sube un fichero a nuestra plataforma online.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
