.logoHome{
    max-width: 219px;
    max-height: 92px;
}

.azul{
    color: #00aeff;
    font-size: xx-large;
}

.azulSolicita{
    background-color: #00aeff;
    color: #ffffff;
    border: none;
}


.azulSolicitaNvar{
    background-color: #00aeff;
    color: #ffffff;
    border: none;
    height : 30px;
}

a {
    color: #3c4858;
}