<nav class="navbar navbar-expand-lg fixed-top navbar-transparent" color-on-scroll="500">
    <div class="container">
        <div class="navbar-translate">
            <a class="navbar-brand" href="/landing"><img class="logoHome" src="./assets/img/LOGO GRANVIA-v5-1.png" alt="Gran Via Courier" /></a>
            <button class="navbar-toggler navbar-burger" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation" (click)="sidebarToggle()">
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse" id="navbarToggler">
            <ul class="navbar-nav ml-auto">
                <li>
                    <a class="nav-link" rel="tooltip" title="Siguenos en Facebook" data-placement="bottom" href="https://www.facebook.com/agencia889GLSBarcelona/" target="_blank">
                        <i class="fa fa-facebook"></i>
                        <p class="d-lg-none">Facebook</p>
                    </a>
                </li>
                <li>
                    <a class="nav-link" rel="tooltip" title="Siguenos en Instagram" data-placement="bottom" href="https://www.instagram.com/agencia889gls" target="_blank">
                        <i class="fa fa-instagram"></i>
                        <p class="d-lg-none">Instagram</p>
                    </a>
                </li>
                <li>
                    <a class="nav-link" rel="tooltip" title="Encuentranos a traves de Google maps" data-placement="bottom" href="https://g.page/gls-barcelona-agencia-889?share" target="_blank">
                        <i class="fa fa-google"></i>
                        <p class="d-lg-none">Google maps</p>
                    </a>
                </li>
                <li>
                    <a href= "http://extranet.granviacourier.com/dlwebvwe/Login.aspx" class="nav-link">Acceso Extranet</a>
                </li>
                <li>
                    <a class="linkNav" href= "https://forms.gle/PRDzh8rvNL4fHuXR7" class="nav-link">Registrate gratis</a>
                </li>
            </ul>
        </div>
    </div>                   

</nav>
