<nav class="navbar navbar-expand-lg fixed-top navbar-transparent" color-on-scroll="500">
    <div class="container">
        <div class="navbar-translate">
            <a class="navbar-brand" href="/"><img class="logoHome" src="./assets/img/LOGO GRANVIA-v5-1.png" alt="Gran Via Courier" /></a>
            <button class="navbar-toggler navbar-burger" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation" (click)="sidebarToggle()">
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse" id="navbarToggler">
            <ul class="navbar-nav ml-auto">
                <li>
                    <a class="nav-link" rel="tooltip" title="Acceso Extranet" data-placement="bottom" href="http://extranet.granviacourier.com" target="_blank">Acceso Extranet</a>
                </li>
                <li>
                    <a class="nav-link" rel="tooltip" title="Registrate gratis" data-placement="bottom" href="https://forms.gle/PRDzh8rvNL4fHuXR7" target="_blank">Registrate gratis</a>
                </li>
                <li>
                    <a class="nav-link" rel="tooltip" title="Acceso Extranet" data-placement="bottom" href="https://forms.gle/MkeFJSNvN23ygx3J9" target="_blank">Solicite una reunón</a>
                </li>
                <li>
                    <a class="nav-link" rel="tooltip" title="Encuentranos a traves de Google maps" data-placement="bottom" href="https://forms.gle/KjGSF6PHkaWwXSak6" target="_blank">Ponte en contacto</a>
                </li>
            </ul>
        </div>
    </div>                   
</nav>
